@import "tailwindcss";

:root {
  /* Negro claro para el fondo y gris claro para el texto */
  --background: #121212;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background) !important;
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /* Usamos la propiedad CSS estándar en lugar de la clase de Tailwind */
  min-height: 100vh; 
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}